body {
  font-family: 'VT323', monospace;
  font-size: 2em;
  color: white;
  margin: 0;
  height: 100%;
  overflow: hidden
}


.Title-h1 {
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #ff9933;
  text-shadow: 5px 5px black;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  display: flex;
  height: 100%;
  width: auto;
  object-fit: cover;
  background-color: #19214d;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  object-fit: scale-down;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.parent {
  position: absolute;
}

asteroid {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: auto;
  animation: slideInFromTop 1.5s;
}

asteroid-details {
  position: relative;
  top: -1em;
  left: 7em;
  display: flex;
  flex-direction: column;
  width: 15em;
  animation: fadeInFromNone ease 1.5s;
}

.asteroid-img {
  position: absolute;
  height: 100px;
  width: auto;
  transform: rotate(-70deg);
  animation: asteroid-spinner infinite .5s;
}

.asteroid-img2 {
  position: absolute;
  height: 100px;
  width: auto;
  transform: rotate(-70deg);
  animation: asteroid-spinner infinite .5s;
}

.earth-img {
  position: absolute;
  top: 75%;
  left: 20%;
  clip: rect(0px,1000px,300px,0px);
}

@keyframes asteroid-spinner {
  0%   {
    transform: rotate(-70deg);
  }
  50%  {
    transform: rotate(-75deg);
  }
  100% {
    transform: rotate(-65deg);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}
